#popUp{
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0, .5);
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    padding: 10rem;
    color: antiquewhite;
    background-color: rgba(0,0,0, .95);
    display: flex;
    gap: 1rem;
}

.imagePopUp, .informationPopUp{
    height: 50vh;
}

.informationPopUp{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.blockFilm{
    display: flex;
}

.imgFilmAPI{
    height: 50vh;
}

[class^="imagePopUp"], .informationPopUp{
	height: 50vh;
    width: 50%;
}

#closeBtn{
	border: none;
	background: none;
	border-radius: 50px;
	background-color: rgb(61, 165, 165);
	color: rgb(199, 195, 188);
	margin: 10px 10px;
	border: 1px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
    height: 5vh;
    width: 3vw;
    
}

#closeBtn:hover{
	cursor: pointer;
	background-color: rgb(41, 109, 109);
	transition: .5s;
	border: none;
}

.createFilm{
    display: flex;
    padding-top: 2rem;
}